#exampleInputEmail1,
#exampleInputTelefone1,
#exampleInputPassword1,
#exampleInputPassword2{

width: 350px;
margin-left: 25px;
border-radius: 8px;

}

.container-xl{

        
         margin-top:50px ;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center

}

#entrar{

margin-top:8px;
margin-left: 100px;
width: 195px;
height: 40px;
color: white;
font-size: 16px;
border: white;
border-radius: 10px;
background: #FFA500;

}

img{
margin-top: 20px;
margin-left: 45px;

}

body{


background-position:top;
background-repeat: repeat-y;
background-size: cover;


}
#formulario{
margin-top: 90px;
border-radius: 25px ;
background-color:#EEE9E9 ;
height: 430px ;
width: 400px ;




}