


body{

font-family: "Helvetica",	"Lucida	Grande",	sans-serif;
color: black;
height: 100%;
background-position:top;
background-repeat: repeat-y;
background-size: cover;



}


#exampleInputEmail1,
#exampleInputTelefone1,
#exampleInputPassword1,
#exampleInputPassword2{

width: 350px;
margin-left: 25px;
border-radius: 8px;

}


.container-xl{

         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center

}

#entrar{

margin-top:5px;
margin-left:25px;
height:35px;
width: 350px;
color: white;
font-size: 16px;
border: white;
border-radius: 15px;
background: #FFA500;

}

img{
margin-top: 20px;
margin-left: 45px;

}

#formulario{
margin-top: 90px;
border-radius: 25px ;
background-color:#EEE9E9 ;
height: 430px ;
width: 400px ;




}