/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/09/2020, 18:19:16
    Author     : Buginha
*/

body{

font-family: "Helvetica",	"Lucida	Grande",	sans-serif;
padding-top: 120px;
color: black;
height: 100%;
background-position:top;
background-repeat: repeat-y;
background-size: cover;



}

#exampleInputEmail1, #exampleInputPassword1{

width: 350px;
height: 35px;
margin-left: 25px;
border-radius: 8px;


}
.container-xl{

     
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center

}

img{


margin-top: 45px;
margin-bottom: 25px;
padding-left: 45px;

}

button{

width: 170px;
height: 45px;

}

#entrar{
margin-left: 25px;
margin-top: 15px;
border-radius: 15px;
background: #000000;
}

#cadastro{

margin-left: 5px;
margin-top: 15px;
border-radius: 15px;
color: white;
background: #FFA500;
}

#formulario{


background-color:#F0F8FF ;
border-radius: 15px;
height:400px; 
width: 400px;

}