
body{

font-family: "Helvetica",	"Lucida	Grande",	sans-serif;
color: black;
height: 100%;
background-position:top;
background-repeat: no-repeat;
background-size: cover;

}

#d1{

position: relative;
margin-top: 125px;
width: 260px;
height: 580px;
border-radius: 7px;

background-color: #E6E6FA;

}

#d2{

position: absolute;
top: 0px;
left: 300px;
width: 810px;
height: 100px;
background-color: #696969;
border-radius: 7px;

}

h1{

margin-top: 15px;
color: black;
margin-left: 230px;
margin-right: 230px;
font-family: Arial;
text-align: center;
background-color: white;
border-radius: 5px;

}

h6{
color: white;
margin-top:10px; 
font-family: Britannic;


}




#d3{

position: absolute;
top: 105px;
left: 327px;
width: 720px;
height: 80px;
border-radius: 7px;
background-color:#F8F8FF;

}

#d4{

position: absolute;
top: 210px;
left: 330px;
width: 380px;
height: 350px;
background-color: #F8F8FF;
}




#titulo{

font-family: Showcard Gothic;
margin-left: 420px;
font-size: 25px;
padding-left:5px ;
padding-right: 5px;


}

img{

width: 150px;
height: 100px;
margin-left: 55px;
margin-top: 10px;

}

p1{

color: black;
margin-left: 90px;
margin-right: 5px;


}

p2{

color: black;
font-family: Times New Roman;
font-size: 16px;
margin-left: 5px;
margin-right:5px;


}

#bt1{

height: 50px;
width: 260px;
color: white;
margin-top: 15px;


}

#bt2{

height: 50px;
width: 260px;
color: white;
margin-top: 5px;

}

nav{

border-radius: 5px;

}

#conf{

margin-right: 45px;


}

#receita{


margin-left: 40px;
margin-top: 15px;


}

#despesa{


margin-left: 250px;
margin-top: 15px;

}

#mdreceita {
 
background-color:#F5F5F5;

}

#mddespesa{

background-color:#F5F5F5;

}

#btreceita,#btdespesa{

height:35px ;
width: 465px;
font-size: 16px;

}



